<div class="ending-soon-grid">
    @for (s of surveysWithProgress(); track s.id) {
    <div class="ending-card" (click)="openSurvey(s.id)">
        <div class="category">{{ categoryService.getLabelById(s.category) }}</div>

        <div class="title">
            {{ s.title }}
        </div>

        <div class="ends-banner">

            @let days = getDaysLeft(s.enddate);
            
            @if (days === null) {
            No end date
            } @else if (days > 0) {
            Ends in {{ days }} Days
            } @else if (days < 0) { Ended {{ -days }} Days ago } @else { Ends today }
        </div>

        <div class="progress-bar">
            <div class="fill" [style.width.%]="s.progressPercent"></div>
        </div>
    </div>
    }
</div>