@use "../../../../styles/variables" as *;


/* GRID */
.ending-soon-grid {
  display: flex;
  gap: 2.4rem;
  justify-content: center;
}

/* CARD */
.ending-card {
  width: 321px;
  height: 340px; 
  padding: 48px 18px 32px 18px; 
  background: #FDFBFF; 
  border-radius: 0 68px 0 0; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 18px;
  color: #221227;
  transition: background 0.2s ease;

  &:hover {
    background: #F4E9FB;
  }
}

/* CATEGORY */
.category {
  font-family: Mulish;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: #221227;
  opacity: 0.9;
}

/* TITLE */
.title {
  font-family: Mulish;
  font-weight: 700;
  font-size: 28px; 
  line-height: 110%; 
  margin: 0;
  color: #221227;
  word-break: break-word;
}
