@use './variables' as *;


.button {
  background: $color-primary;
  color: $color-text-light;
  border: none;
  padding: 1rem 2rem;
  border-radius: $radius-default;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.2s ease;

  &:hover {
    background: $color-primary-hover;
  }


&-primary {
  background: $color-primary;
  color: $color-text-light;
  padding: 0.8rem 1.4rem;
  border-radius: $radius-default;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

&-secondary {
  background: transparent;
  color: $color-primary;
  padding: 0.8rem 1.4rem;
  border-radius: $radius-default;
  border: 2px solid $color-primary;
  cursor: pointer;
  font-weight: 600;
}
}