@use "./variables" as *;

.ends-banner {
    align-self: flex-end;
    padding: 3px 6px;
    background: var(--endingSoonBanner);
    background: $endingSoonBanner;
    border-top-right-radius: 14px;
    font-family: Mulish;
    font-weight: 600;
    font-size: 14px;
    color: #221227;
    width: fit-content;
    margin-top: auto;
  }

  .fontYellow {
    color: $yellow;
  }

  .fontWhite {
    color: #ffffff;
  }