@font-face {
    font-family: "Nerko One";
    src: url("../../public/assets/fonts/nerko-one-v17-latin/nerko-one-v17-latin-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mulish";
    src: url("../../public/assets/fonts/mulish-v18-latin/mulish-v18-latin-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mulish";
    src: url("../../public/assets/fonts/mulish-v18-latin/mulish-v18-latin-600.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}