@use 'variables' as *;

.styled-input {
  max-width: 100%;
  padding: 7px 13px;
  border: none;

  border-top-left-radius: 5px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  background: $color-text-white;
  color: $color-text-dark;
  font-size: 1rem;

  &:focus {
    outline: 2px solid $color-primary;
  }

  @media (min-width: $bp-lg) {
    padding: 10px 16px;
    font-size: 1.05rem;
  }
}

textarea.styled-input {
  height: auto;
  min-height: 37px;
  resize: vertical;
}