@use 'variables' as *;

.pulldown {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 260px;

  @media (min-width: $bp-md) {
    max-width: 260px;
  }

  @media (min-width: $bp-lg) {
    max-width: 300px;
  }

  select {
    width: 100%;
    padding: 7px 40px 7px 13px;
    border: none;
    border-radius: 5px;
    background: $color-bg-dark;
    color: $color-text-white;
    font-size: 1rem;
    cursor: pointer;
    appearance: none;

    &:hover {
      background: $color-bg-dark_hover;
    }

    &:focus {
      outline: none;
      background: $color-bg-dark_hover;
    }

    option {
      color: $color-text-black;
      background: $color-text-white;
    }
  }

  &::after {
    content: "";
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background: url('../../public/assets/img/arrow_down.svg') center/contain no-repeat;
    pointer-events: none;
  }

  &:hover::after {
    background-image: url('../../public/assets/img/arrow_down_activate.svg');
  }

  &.open::after {
    background-image: url('../../public/assets/img/arrow_up_activate.svg');
  }
}