:root {
    --maxWidth: 1400px;
  }

$color-primary: #ff7a00;
$color-primary-hover: #ff8f26;

$color-text-dark: #1a1a1a;
$color-text-light: #ffffff;

$color-bg-light:  #8E709929;
$color-bg-dark: #35273A;

$fontcolor-yellow: #FFB770;


$spacing-section: 4rem;
$spacing-gap: 2rem;
$radius-default: 8px;

$endingSoonBanner: #FFCFA1;

$baseURL:"";
$baseURL1:"/angular-projects/PollApp";