<header class="app-header">
    <div class="header-content">
        <div class="logo" (click)="goHome()">
            <img src="./assets/img/logo.svg" alt="Logo" class="logo" />
        </div>

        <button class="button btn-primary" (click)="goToCreateSurvey()">Create survey</button>
    </div>
</header>

<div class="page-container">

    @if (survey(); as s) {

    <div class="survey-detail">
        <div class="left">

            <div class="meta">
                <span class="badge">Published</span>
                @let days = getDaysLeft(s.enddate);

                @if (days === null) {
                    <p>No end date</p>
                } @else if (days > 0) {
                    <p>Ends on {{ s.enddate }}</p>
                } @else if (days < 0) { 
                    <p>Has been Ends on {{ s.enddate }}</p>
                } @else { 
                    <p>Ends today</p> 
                } 
                <p>Category: {{ s.category }}</p>
            </div>

            <h1>{{ s.title }}</h1>
            <p class="description">{{ s.description }}</p>

            @for (q of s.questions; track q.id; let i = $index) {
            <div class="question-block">
                <h2>{{ i + 1 }}. {{ q.title }}</h2>

                <div class="answers">
                    @for (o of q.options; track o.id; let j = $index) {

                        <label class="answer-option" [class.selected]="answers()[i]?.includes(j)" [class.disabled]="isClosed()">
                        
                            <!-- SINGLE CHOICE -->
                            @if (!q.allow_multiple) {
                            <input type="radio" name="q{{ i }}" [checked]="answers()[i]?.[0] === j" [disabled]="isClosed()"
                                (click)="toggleAnswer(i, j, false)" />
                            }
                        
                            <!-- MULTIPLE CHOICE -->
                            @if (q.allow_multiple) {
                            <input type="checkbox" name="q{{ i }}-{{ j }}" [checked]="answers()[i]?.includes(j)" [disabled]="isClosed()"
                                (click)="toggleAnswer(i, j, true)" />
                            }
                        
                            <span class="label">{{ j | letter }}.</span>
                            <span>{{ o.text }}</span>
                        </label>
                        
                    }
                </div>
            </div>
            }

            <button class="button btn-primary" (click)="completeSurvey()" [disabled]="isClosed()">Complete survey</button>
        </div>

        <div class="right">
            <h2>Survey results <span class="fontYellow">Live</span></h2>

            @if (!hasVotes()) {
            <p class="no-results">Results will be shown here after participants complete the survey.</p>
            <p class="no-results">There are no answers yet.</p>
            }
            @else {
            @for (r of results(); track r.question; let qi = $index) {
            <div class="result-block">
                <h3>{{ qi + 1 }}. {{ r.question }}</h3>

                @for (o of r.options; track o.label) {
                <div class="result-row">
                    <span class="label">{{ o.label | letter }}.</span>

                    <div class="bar">
                        <div class="fill" [style.width.%]="o.percent"></div>
                    </div>

                    <span class="percent">{{ o.percent }}%</span>
                </div>
                }
            </div>
            }
            }
        </div>

    </div>

    }


    @if (showSuccess()) {
    <div class="success-dialog">
        <p>Your answers were submitted successfully!</p>
    </div>
    }


</div>