<div class="survey-list-wrapper">
    <div class="survey-grid">

        @for (s of surveys; track s.id) {
        <div class="survey-card" (click)="openSurvey(s.id)">

            <div class="category">{{ s.category }}</div>

            <div class="title">{{ s.title }}</div>

            <div class="ends">
                @if (s.enddate != null) {
                    Ends in {{ getDaysLeft(s.enddate) }} Days
                } @else {
                    No end date
                }
            </div>

        </div>
        } 

    </div>
</div>
  