<div class="survey-list-wrapper">
    <div class="survey-grid">

        @for (s of surveys; track s.id) {
        <div class="survey-card" (click)="openSurvey(s.id)">

            <div class="category fontYellow">{{ s.category }}</div>

            <div class="title fontWhite">{{ s.title }}</div>

            <div class="ends ends-banner">
                @let days = getDaysLeft(s.enddate);
            
                @if (days === null) {
                No end date
                } @else if (days > 0) {
                Ends in {{ days }} Days
                } @else if (days < 0) { Ended {{ -days }} Days ago } @else { Ends today } </div>
             

        </div>
        } 

    </div>
</div>
  