@use "../../../../styles/variables" as *;

.survey-list-wrapper {
  max-height: 420px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #FFB770 transparent;
  scroll-padding-right: 8px;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #FFB770;
    border-radius: 10px;
  }
}

.survey-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.6rem;

  @media (min-width: $bp-md) {
    justify-items: center;
  }

  @media (min-width: $bp-lg) {
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
  }
}

.survey-card {
  
  max-width: none;
  height: 127px;
  padding: 12px 20px;
  background: #D9D9D914;
  border-radius: 5px 50px 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #221227;
  transition: background 0.2s ease;

  &:hover {
    background: #D9D9D929;
  }

  @media (min-width: $bp-md) {
    max-width: 513px;
    width: 100%;
  }

  @media (min-width: $bp-lg) {
    max-width: 513px;
    width: 100%;
  }
}

.category {
  font-family: Mulish;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  opacity: 0.9;
}

.title {
  font-family: Mulish;
  font-weight: 700;
  font-size: 22px;
  line-height: 110%;
  margin: 0;
}

.ends {
  font-family: Mulish;
  font-weight: 600;
  font-size: 14px;
  opacity: 0.8;
}