@use './styles/variables' as *;
@use './styles/button' as *;
@use './styles/components' as *;
@use './styles/font';

:root {
  font-family: "Mulish", sans-serif;
}


html,
body {

  input,
  button,
  select,
  textarea {
    font-family: "Mulish", sans-serif !important;
  }
}

body {
  background: #ffffff;
  color: $color-text-dark;
  margin: 0;
  padding: 0;
}
