<form class="create-survey">

    <header class="header">
        <span class="badge">Draft</span>

        <div class="header-row">
            <h1>Create new survey</h1>

            <div class="onlyDesktop">
                <button class="button btn-secondary btn-symbol btn-close" (click)="goHome()" style="color:white;">
                    Cancel
                </button>
            </div>

            <div class="onlyMobile" style="margin-left: 16px;">
                <button class="button btn-secondary btn-close-mobile" (click)="goHome()">
                    <img src="./assets/img/close.svg" alt="Cancel">
                </button>
            </div>
        </div>
    </header>

    <section class="meta">

        <!-- SURVEY NAME -->
        <div class="meta-item name">
            <label>
                <span>Survey name</span>

                <input class="styled-input" type="text" placeholder="Name your survey" [value]="surveyDraft.title"
                    (input)="surveyDraft.title = $any($event.target).value" (blur)="touched['title'] = true"
                    [class.invalid]="(showErrors() || touched['title']) &&
                                                 (!surveyDraft.title.trim() ||
                                                  (surveyDraft.title.trim().length > 0 && surveyDraft.title.trim().length < 3))" />

                @if ((showErrors() || touched['title']) && !surveyDraft.title.trim()) {
                <p class="error">please enter a survey name</p>
                }

                @if ((showErrors() || touched['title']) &&
                surveyDraft.title.trim().length > 0 &&
                surveyDraft.title.trim().length < 3) { <p class="error">minimum 3 characters required</p>
                    }

            </label>


            <button class="delete-btn" (click)="clearField(v => surveyDraft.title = v, 'title')"> </button>

        </div>

        <!-- DESCRIPTION -->
        <div class="meta-item description">
            <label>
                <span>Describing text (optional)</span>

                <textarea class="styled-input description-input" maxlength="300" placeholder="Describe your survey"
                    [value]="surveyDraft.description" (input)="surveyDraft.description = $any($event.target).value"
                    (blur)="touched['desc'] = true"
                    [class.invalid]="(showErrors() || touched['desc']) && surveyDraft.description.length > 300">
                </textarea>

                @if ((showErrors() || touched['desc']) && surveyDraft.description.length > 300) {
                <p class="error">Max 300 characters allowed</p>
                }

            </label>

            <button class="delete-btn" (click)="clearField(v => surveyDraft.description = v, 'desc')"> </button>

        </div>

        <!-- DATE + CATEGORY -->
        <div class="meta-item date-category">

            <!-- END DATE -->
            <div class="date-row">
                <label>
                    <span>Set end date (optional)</span>

                    <input class="styled-input" type="date" [value]="surveyDraft.enddate"
                        (input)="surveyDraft.enddate = $any($event.target).value; validateEndDate()"
                        (blur)="touched['enddate'] = true"
                        [class.invalid]="(showErrors() || touched['enddate']) && endDateError" />

                    @if ((showErrors() || touched['enddate']) && endDateError) {
                    <p class="error">Date must be in the future</p>
                    }

                </label>

                <button type="button" class="delete-btn"
                    (click)="clearField(v => surveyDraft.enddate = v, 'enddate'); validateEndDate()">
                </button>

            </div>

            <!-- CATEGORY -->
            <div class="category-row">
                <label>
                    <div class="pulldown" [class.open]="categoryOpen">
                        <select [value]="surveyDraft.category"
                            (change)="surveyDraft.category = $any($event.target).value"
                            (click)="categoryOpen = !categoryOpen"
                            (blur)="categoryOpen = false; touched['category'] = true"
                            [class.invalid]="(showErrors() || touched['category']) && !surveyDraft.category.trim()">

                            <option value="" disabled>Select category</option>

                            @for (c of categories(); track c.id) {
                            <option [value]="c.id">{{ c.label }}</option>
                            }
                        </select>
                    </div>
                </label>

                @if ((showErrors() || touched['category']) && !surveyDraft.category.trim()) {
                <p class="error category-error">please select a Category</p>
                }
            </div>


        </div>

    </section>

    <!-- QUESTIONS -->
    <section class="questions-grid">

        @for (q of surveyDraft.questions; let i = $index; track q.id) {

        <div class="question-block">

            <div class="question-header">
                <h2>{{ i + 1 }}. Question</h2>
                <button type="button" class="delete-btn" (click)="removeQuestion(i)"></button>
            </div>

            <!-- QUESTION TEXT -->
            <div class="input-wrapper">
                <input class="styled-input" type="text" placeholder="Question text" [value]="q.text"
                    (input)="q.text = $any($event.target).value" (blur)="touched['question' + i] = true"
                    [class.invalid]="(showErrors() || touched['question' + i]) && (!q.text.trim() || q.text.trim().length < 3)" />

                @if ((showErrors() || touched['question' + i]) && !q.text.trim()) {
                <p class="error">please enter a question</p>
                }

                @if ((showErrors() || touched['question' + i]) && q.text.trim().length > 0 && q.text.trim().length < 3)
                    { <p class="error">minimum 3 characters required</p>
                    }

                    @if ((showErrors() || touched['question' + i]) && q.answers.length < 2) { <p class="error">Question
                        must have at
                        least 2 answers</p>
                        }
            </div>


            <!-- ANSWERS -->
            <div class="answers">

                <div class="answers-header">
                    <h3>Answers</h3>

                    <label class="allow-multiple">
                        <input type="checkbox" [checked]="q.allowMultiple"
                            (change)="q.allowMultiple = $any($event.target).checked" />
                        Allow multiple answers
                    </label>
                </div>

                @for (a of q.answers; let j = $index; track j) {

                <div class="answer-row">
                    <span class="label">{{ toLetter(j) }}.</span>

                    <input class="styled-input" type="text" placeholder="Answer"
                        [value]="surveyDraft.questions[i].answers[j]"
                        (input)="surveyDraft.questions[i].answers[j] = $any($event.target).value"
                        (blur)="touched['answer' + i + '-' + j] = true"
                        [class.invalid]="(showErrors() || touched['answer' + i + '-' + j]) && !surveyDraft.questions[i].answers[j].trim()" />

                    <button type="button" class="delete-btn" (click)="removeAnswer(i, j)"></button>

                    @if ((showErrors() || touched['answer' + i + '-' + j]) &&
                    !surveyDraft.questions[i].answers[j].trim()) {
                    <p class="error answer-error">please enter an answer</p>
                    }
                </div>
                }

                <button type="button" class="btnAddAnswer" (click)="addAnswer(i)">
                    Add answer
                </button>

            </div>

        </div>
        }

        <button class="button btn-secondary btn-symbol btn-create btn-add-question-position" (click)="addQuestion()"
            style="color:white !important;">
            Add next question
        </button>

    </section>

    <!-- FOOTER -->
    <footer class="actions">
        <button type="button" class="button btn-primary submit-btn btn-symbol btn-check" (click)="publish()">
            Publish
        </button>
    </footer>

    <!-- SUCCESS -->
    @if (successDialog) {
    <div class="dialog-overlay">
        <div class="dialog success">
            <h2>
                Survey has been created successfully!<br><br>
                Redirecting to home in {{ countdown }} seconds...
            </h2>

            <button type="button" class="button btn-primary" (click)="goToSurvey()">
                View Survey
            </button>
        </div>
    </div> }

    <!-- ERROR -->
    @if (errorDialog) {
    <div class="dialog-overlay">
        <div class="dialog error">
            <h2>Error creating survey</h2>
            <p>{{ errorMessage }}</p>
            <button type="button" class="button btn-primary" (click)="closeErrorDialog($event)">
                Close
            </button>
        </div>
    </div>
    }

</form>